@page "/Account/Setup"
@layout AccountLayout

@inject MainProto.MainProtoClient MainClient
@inject lumine8.Client.Identity.AccountManager accountManager
@inject NavigationManager NavigationManager

<div class="mx-auto">
    <h3>Setup Account</h3>

    <label for="username">Username (Required)</label>
    <input type="text" id="username" @bind-value="loginUser.Username" class="form-control" />

    <label for="password">Password</label>
    <input type="password" id="password" @bind-value="loginUser.Password" class="form-control" />

    <label for="key">PIN Code</label>
    <input type="text" id="key" @bind-value="loginUser.PrivateKey" class="form-control" />

    <input type="button" @onclick="Authenticate" value="Setup device" class="btn btn-success mt-5 ms-auto" />
</div>

<MyDialog @ref="dia">
    <Content>
        <p>It appears the credentials you entered were invalid.</p>
    </Content>
</MyDialog>

@code {
    LoginUser loginUser = new();

    MyDialog? dia = new();

    protected override async Task OnInitializedAsync()
    {
        loginUser.PrivateKey = "0000";
    }

    private async Task Authenticate()
    {
        try
        {
            var auth = await MainClient.AuthenticateAsync(loginUser);
            if (auth.IsAuthenticated)
            {
                await accountManager.SetupAccountAsync(loginUser);
                await accountManager.SignInAsync(loginUser);
                NavigationManager.NavigateTo("/");
            }
        }
        catch (System.Exception ex)
        {
            dia.Title = "Error";
            await dia.InvokeDisplay();
        }
    }
}
